/*
#C2E812 Bitter Lemon
#E8E9F3 Glitter
#CECECE Pastel Gray
#32373D Onyx
#050506 Rich Black
#84DCC6 Pearl Aqua
*/

/* Default styles */
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

h1, h2 {
    font-weight: 400;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.65;
    font-size: calc(1rem + 0.2vw);
    margin:0 auto;
    position: relative;
}

/* Header */
header {
    background: #32373D;
    color: #E8E9F3;
    min-height: 100vh;
    max-width: 100vw;
}


header a {
    color: #C2E812; 
}

header p {
    margin-top: 0;
}

header strong {
    color: #84DCC6;
    font-size: calc(1.05rem + 0.2vw);
    text-transform: capitalize;
}


.profile-img {
    max-width:80%;
    max-height:100vh;
    grid-column: 1;
    grid-row: 2;
}

.profile-summary {
    grid-column: 3;
    grid-row:2;
    align-self: center;
}

.name { 
    padding-left: 5vw;
    padding-top: 30px;
    margin: 0;
    font-size: calc(3rem + 0.2vw);
    font-family: 'Orbitron', sans-serif;
}

.name a {
    text-decoration: none;
    padding: 30px;
    color: #E8E9F3;
}

.content-wrap {
    max-width: 1210px;
    margin: 0 auto;
    position: relative;
    padding: 20px;
}

nav {
    grid-column: 3/5;
    grid-row: 1;
    text-align: center;
    padding-top: 50px;
    padding-right: 50px;
    justify-self: right;
}

nav a {
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Section */
section {
    padding: 10px 30px;
    background: #CECECE;
}

/* Project Grid */
.project-cards-grid {
    margin-top: 20px;
}

.project-cards-grid > div {
    background: #32373D;
    border: 1px solid #84DCC6;
    padding: 20px;
    height: 500px;
    color: #E8E9F3;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.project-cards-grid h1 {
    border-bottom: 1px solid #84DCC6;
    padding-bottom: 10px;
    font-size: calc(1.5rem + 0.2vw);
    text-transform: capitalize;
}

.project-cards-grid a {
    color: #C2E812;
}
.project-cards-grid h2 {
    padding-top: 5px;
    font-size: calc(1.1rem + 0.2vw);
    text-transform: uppercase;
}

.project-summary {
    padding-top: 10px;
}

.project-technology {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.project-technology > ul li {
    display: inline;
    padding: 5px 10px;
    margin-right: 5px;
    background: #84DCC6;
    color:#32373D;
    border-radius: 3px;
    font-size: calc(0.7rem + 0.2vw);

}

.project-category {
    position: absolute;
    top: 30px;
    right: 20px;
    padding: 5px 10px;
    background: #E8E9F3;
    color:#32373D;
    border-radius: 3px;
    font-size: calc(0.5rem + 0.2vw);
    text-transform: capitalize;

}

@media (min-width: 900px) {
    header {
        display: grid;
        grid-template-columns: 2fr 1fr 2fr 1fr;
        grid-template-rows: 1fr 2fr 1fr;
        column-gap: 10px;
        justify-content: center;
        align-content: center;
        height: 100vh;
    }
    
    .project-cards-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        grid-gap: 15px;
        justify-content: center;
    }
}