/* 
#C9DAEA COLUMBIA BLUE
#03F7EB TURQUOISE BLUE
#00B295 PERSIAN GREEN
#191516 LICORICE
#AB2346 FRENCH WINE
 */
html {
    box-sizing: border-box;
    font-size: 1rem;
}

*, *:before, *:after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

/* header section */
header {
    background: #191516;
}

.header-container {
    position: relative;
}

.profile-img {
    width: 100%;
}

.profile-summary {
    text-align: left;
    position: absolute;
    bottom: 0;
    padding: 40px 10px;
    background: #191516;
    left: 0;
    right: 0;
}

.profile-summary > h1 {
    font-size: calc(1rem + 1vw);
    text-transform: uppercase;
    color: #03F7EB;
}

.profile-summary h1::before {
    content: "I'M "
}
.profile-summary h1::after {
    content: "|"
    
}

.profile-summary > h3 {
    margin-top: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(1rem + 0.5vw);
    color: #00B295;
}

nav {
    padding: 20px;
    text-align: right;
}

nav a {
    padding: 10px;
    font-size: 0.9rem;
    text-decoration: none;
    color: #c9daea;
    transition: all ease-out 1s;
}

nav a:hover, a:active, a:focus {
    color: #03F7EB;
}

.linkedin-btn {
    height: 15px;
}

section {
    margin: 10px;
}

section > h1 {
    font-size: calc(1rem + 0.6vw);
    text-transform: uppercase;
    color: #191516;
    padding-bottom: 10px;
}
.container {
    margin: 10px; 
    padding: 20px;
    border-top: 1px solid #03F7EB;
    min-height: 250px;
}

.work-container h1::before {
    display: block;
    content: " ";
    width: 30px;
    margin: .5rem 0;
    border-top : 3px solid #00b295;

}
.work-container h1 {
    color: #00b295;
    font-size: 1.5rem;
    text-transform: capitalize;
}

.work-container h3 {
    font-size: 1.2rem;
    margin-top: 10px;
    color: #ab2346;
}

.work-desc {
    font-size: 1.1rem;
    margin: 10px 0;
    max-width: 800px;
    color: #191516;
    font-family: 'Courier New', Courier, monospace;
}

.work-tech {
    margin-bottom: 20px;
}
.work-tech > span {
    color:#00b295;
    text-decoration: underline;
}

.work-img {
    width: 200px;
    border: 1px solid #c9daea;
    padding: 5px;
}

.blog-entry {
    margin: 10px 0;
    padding: 10px 0;
}

.blog-entry a {
    color: #00B295;
}

.blog-entry .date {
    margin-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

@media(min-width:550px) {
    header {
        min-height: 100vh;
    }
    
    .header-container {
        padding-top: 10vh;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        align-items: center;
    }
    
    .profile-img {
        grid-column: 1 / 4;
        grid-row: 1;
    }
    
    .profile-summary {
        position: relative;
        grid-column: 7 / 12;
        grid-row: 1;
        text-align: left;
    }

    .work-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
    }

    .work-heading {
        align-self: center;
        grid-column: 1 / 3;
    }
    
    .work-img {
        align-self: center;
        grid-column: 8 / -1;
    }

    .work-desc {
        align-self: center;
        grid-column: 3 / 8;
        border-left: 1px solid #00b295;
        padding-left: 10px;
    }

    .work-tech > span {
        padding: 5px 10px;
        background: #00b295;
        color:white;
        border-radius: 3px;
        text-decoration: none;
    }
    
    .blog-entry a {
        font-size: 1.2rem;
    }
    
    .blog-entry .date {
        font-size: 1.1rem;
    }
}