    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <br/><br/>
                <h2>What I do</h2>
                <div class="col-lg-4"><img style="width: 220px; height: 220px;border: 1px solid gray; border-radius: 10px;" src="../img/amit.png"/></div>
                <div class="col-lg-8 text-left">
                    <p>
                        I enjoy developing software solutions that solve business problems. I have worked with startups and fortune 500 companies. I have done projects where I started
                        from requirements capturing and finished with deployment. I also have many times taken over a failing project and successfully deployed it in production. I enjoy working
                        with clients, talking to them, finding out the exact problem they want to solve and then help them build software solutions.
                    </p>
                    <p>
                        I've been programming professionally for over fifteen years. I have programmed in many languages including Java, Javascript, Objective-C, PHP, etc. My focus is always to provide
                        the best solution given the resources.
                    </p>
                    <p>
                        I do contract consulting. Please contact me to discuss working together. I'm based in greater Los Angeles area and prefer to work remotely.
                        <br/><br/> <br/><br/>
                    </p>
                </div>

            </div>
        </div>
    </section>
