<section id="services">
    <!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Search Application</h2>
                    <div class="lead">Knowledge Base Search Application</div>
                    <p class="text-muted">
                        Developed knowledge base search application for <a href="https://www.socalgas.com" target="_blank">SoCalGas</a> to replace
                        aging search solution by Oracle. Incorporated natural language processing and jaro-wrinkler distance algorithm.
                        Designed and developed the solution to handle high traffic on the utility website. App also captures
                        analytical data such as unique hits, popular topics, popular search terms, etc.

                        <br/><br/>
                        <strong><span style="color: #000;"> URL: </span></strong> <a href="https://mysearch.socalgas.com" target="_blank">MySearch</a><br/><br/>
                        <strong><span style="color: #000;"> Technology Stack: </span></strong> Java, Spring Boot, AngularJS, PostgreSQL, Tomcat, Linux


                    </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/projects/mysearch.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Forecast Model</h2>
                    <div class="lead">Compute forecast models for energy savings</div>
                    <p class="text-muted">
                        Designed and developed web based application to calculate future therms savings from energy efficiency programs at
                        <a href="https://www.socalgas.com" target="_blank">SoCalGas</a>. Application uses complex algorithms to create portfolio wide savings models and
                        display dynamic graphs

                        <br/><br/>
                        <strong><span style="color: #000;"> Technology Stack: </span></strong> Javascript, Node.js, AngularJS, ExpressJS, MongoDB


                    </p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/projects/eefm.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
</section>