<section id="contact">
	<div class="banner-skills">
		<div class="container">

			<div class="row">
				<div class="col-lg-3">
					<h2>Skills:</h2>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-12">
							<h4>Languages/Platforms</h4>
							<ul class="list-inline">
								<li class="skill-expert"><img src="../img/java.png"></li>
								<li class="skill-expert">Javascript</li>
								<li class="skill-expert">Node.js</li>
                                <li class="skill-intermediate">CSS</li>
                                <li class="skill-intermediate">PHP</li>
                                <li class="skill-novice" style="font-size: 9px;"><img src="../img/elastic-logo-V-white-outline.png" width="100%" height="100%"> </li>
								<li class="skill-novice">Kafka</li>
							</ul>
						</div>
                    </div>
                    <div class="row">
						<div class="col-lg-12">
							<h4>Frameworks</h4>
							<ul class="list-inline">
								<li class="skill-expert">Spring</li>
								<li class="skill-expert">AngularJS</li>
                                <li class="skill-intermediate">jQuery</li>
                                <li class="skill-novice">ReactJS</li>
							</ul>
						</div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
							<h4>Databases</h4>
							<ul class="list-inline">
								<li class="skill-expert">MongoDB</li>
								<li class="skill-expert">MySql</li>
								<li class="skill-expert">SQLServer</li>
                                <li class="skill-intermediate">PostgreSQL</li>
                            </ul>
						</div>
                    </div>
                    <div class="row">
						<div class="col-lg-12">
							<h4>Best Practices/Tools</h4>
							<ul class="list-inline">
								<li class="skill-expert">TDD</li>
								<li class="skill-intermediate">CI</li>
								<li class="skill-intermediate">Git</li>
								<li class="skill-intermediate">Maven</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->