<section id="contact">
	<div class="banner-skills">
		<div class="container">

			<div class="row">
				<div class="col-lg-3">
					<h2>Skills:</h2>
				</div>
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-3">
							<h4>Languages/Platforms</h4>
							<ul>
								<li>Java</li>
								<li>Javascript</li>
								<li>Node.js</li>
								<li>ElasticSearch</li>
								<li>Apache Kafka</li>
								<li>CSS</li>
								<li>PHP</li>
								<li>ColdFusion</li>
							</ul>
						</div>
						<div class="col-lg-3">
							<h4>Frameworks</h4>
							<ul>
								<li>Spring Boot/Spring Framework</li>
								<li>AngularJS</li>
								<li>ExpressJS</li>
								<li>ReactJS</li>
								<li>jQuery</li>
							</ul>
						</div>
						<div class="col-lg-3">
							<h4>Databases</h4>
							<ul>
								<li>MongoDB</li>
								<li>PostgreSQL</li>
								<li>MySql</li>
								<li>MS SQL Server</li>
							</ul>
						</div>
						<div class="col-lg-3">
							<h4>Best Practices/Tools</h4>
							<ul>
								<li>Test Driven Development</li>
								<li>Continuous integration</li>
								<li>Git</li>
								<li>Grunt/Gulp/Jake</li>
								<li>Maven</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->