*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    max-width: 900px;
    margin: 0 auto;
    font-size: 1rem;
    padding: 20px;
}

pre {
    font-family: monospace;
    margin-left: 20px;
    width: 600px;
    background: #cccccc;
    padding: 10px;
}

.blog-date {
    font-size: 0.9rem;
}

article {
    margin-top: 30px;
}