@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Monteserrat-Medium';
  src: url('fonts/Montserrat-Medium.ttf');
}

html {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body, h1, h2, h3, p, img, ul, li, div {
  margin:0;
  padding:0;
}

body {
  background-color: black;
  position: relative;
}

ul {
  list-style: none;
  margin:0;
  padding:0;
}

img {
  width: 100%;
}

.header {
  position:fixed;
  width: 100%;
  height: 40px;
  z-index: 40;
  background-color: rgba(35,31,32,0.15);
}

.header a {
  position: absolute;
  background-image: url('images/22MILSTRONG_microsite_nav_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 10px;
  left: 10px;
  color:transparent;
  display: inline;
}
.header p {
  font-family: 'Montserrat-Medium', sans-serif;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.footer {
  font-family: 'Montserrat-Medium', sans-serif;
  position:fixed;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  bottom:0;
  width: 100%;
  height: 40px;
  z-index: 30;
  background-color: rgba(35,31,32,0.15);
  color:white;
  font-size: 0.7rem;
}

.footer-logo {
  width: 80%;
  height: 80%;
  background-image: url('images/socal-footer-logo-2x.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.homepage-title {
  font-family: 'agency-fb-extended', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color:white;
  text-align: center;
  vertical-align: middle;
  width: 100vw;
  display: table-cell;
  height: 80vh;
  position: relative;
  z-index: 20;
}

.big-font-title {
  display: inline;
  /* font-size: 2.9rem; */
  font-size: 1.2rem;
  /* border-bottom: 3px solid white; */
}

.title-block {
  opacity: 0;
  visibility: hidden;
}
.title-block-animate {
  opacity: 1;
  visibility: visible;
  /* margin-top: -30vh; */
  margin-top: -20vh;
  transition: all 5s ease;
}

img {
  max-width: 100%;
}

video {
  margin:0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  z-index: 10;
}

.intro-video, .loop-video {
  object-fit: cover;
}
.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: visibility 5s ease-in, opacity 5s ease-in;
}

.show-video {
  visibility: visible;
  opacity: 1;
}

.hide-video {
  visibility: hidden;
  opacity: 0;
  transition: visibility 5s ease-in, opacity 5s ease-in;
}

.grid-item-button {
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-button-grid {
  position: fixed;
  top:0vh;
  bottom:0vh;
  left:0;
  right:0;
  width: 100vw;
  margin:0;
  display: grid;
  width: 100vw;
  height: 90vh;
  margin: auto;
  padding:10px;
  grid-template-columns: 0.1fr 2fr 1fr 1fr 1fr 1fr 2fr 0.2fr;
  grid-template-rows: 1fr 1fr 0.3fr 1.5fr 1.5fr 1fr 1fr 1fr;
  /* background-color: rgb(0, 0, 0, 0.2); */
  z-index: 30;
}

.grid-item-glb {
  grid-column: 3 / 7;
  grid-row: 4 / 6;
  background-image: url('images/22mil_globe.png');
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  /* opacity: 0.9; */
  color:transparent;
}

.grid-item-rng {
  grid-column: 2 / 4;
  grid-row: 4;
}

.grid-item-slr {
  grid-column: 2 / 4;
  grid-row: 5;
}

.grid-item-hyd {
  grid-column: 6 / 8;
  grid-row: 4;
}

.grid-item-wnd {
  grid-column: 6 / 8;
  grid-row: 5;
}

.grid-item-tip {
  grid-column: 2 / 3;
  grid-row: 6;
}

.grid-item-nwz {
  grid-column: 7 / 8;
  grid-row: 6;
}

.grid-item-rng a {
  background-image: url('images/RNG_home_button.png'); 
  background-position-y: bottom;
  background-position-x: right;
}
.grid-item-rng a:hover {
  background-image: url('images/RNG_home_button_hover.png');
}

.grid-item-slr a {
  background-image: url('images/SOLAR_home_button.png');
  background-position-y: top;
  background-position-x: right;
}
.grid-item-slr a:hover {
  background-image: url('images/SOLAR_home_button_hover.png');
}

.grid-item-hyd a {
  background-image: url('images/HYDROGEN_home_button.png');
  background-position-y: bottom;
  background-position-x: left;
}
.grid-item-hyd a:hover {
  background-image: url('images/HYDROGEN_home_button_hover.png');
}

.grid-item-wnd a {
  background-image: url('images/WIND_home_button.png');
  background-position-y: top;
  background-position-x: left;
}
.grid-item-wnd a:hover {
  background-image: url('images/WIND_home_button_hover.png');
}


.grid-item-tip a {
  background-image: url('images/22MILSTRONG_microsite_tips.png');
  background-position-y: top;
}
.grid-item-tip a:hover {
  background-image: url('images/22MILSTRONG_microsite_tips_hover.png');
}

.grid-item-nwz a {
  background-image: url('images/22MILSTRONG_microsite_news.png');
  background-position-y: top;
}
.grid-item-nwz a:hover {
  background-image: url('images/22MILSTRONG_microsite_news_hover.png');
}

@media screen and (min-width:800px) {
  .header-button-grid {
    max-width: 600px;
    grid-template-columns: 0.6fr 1.4fr 0.2fr 0.6fr 0.6fr 0.2fr 1.4fr 0.6fr;
    grid-template-rows: 1fr 1fr 0.3fr 1.2fr 1.2fr 1fr 1fr 1fr;
  }
  .grid-item-glb {
    background-size: contain;
  }

  .grid-item-tip a , .grid-item-nwz a {
    background-position-y: bottom;
  }

  .grid-item-tip {
    grid-column: 1 / 2;
    grid-row: 6;
  }

  .grid-item-nwz {
    grid-column: 8 / 9;
    grid-row: 6;
  }
  
}
@media screen and (min-width:1100px) {
  .header-button-grid {
    max-width: 1100px;
  }

  .homepage-title {
    font-size: 1.7rem;
  }
  
  .big-font-title {
    font-size: 1.7rem;
  }
}

@media screen and (min-width: 2100px) {
  .header-button-grid {
    max-width: 1350px;
  }
}

/* .header-button-grid {
  position: fixed;
  top:0vh;
  bottom:0vh;
  left:0;
  right:0;
  display: grid;
  width: 100vw;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 0.6fr 1fr 0.5fr 1fr 1fr 0.5fr 1fr 0.6fr;
  grid-template-rows: 1fr 1fr 0.3fr 1fr 1fr 0.3fr 1fr 1fr;
  z-index: 20;
}

.grid-item-glb {
  grid-column: 3 / 7;
  grid-row: 1 / 9;
  align-self: center;
  justify-self: center;
  background: transparent;
}
.grid-item-rng {
  grid-column: 2 / 4;
  grid-row: 4;
  align-self: end;
  justify-self: end;
  background:transparent;
  opacity: 1;
}

.grid-item-slr {
  grid-column: 2 / 4;
  grid-row: 5;
  align-self: start;
  justify-self: end;
  background: transparent;
}
.grid-item-hyd {
  grid-column: 6 / 8;
  grid-row: 4;
  align-self: end;
  justify-self: start;
  background: transparent;
}
.grid-item-wnd {
  grid-column: 6 / 8;
  grid-row: 5;
  align-self: start;
  justify-self: start;
  background: transparent;
}
.grid-item-tip {
  grid-column: 1 / 2;
  grid-row: 6;
  align-self: start;
  justify-self: end;
  background: transparent;
}
.grid-item-nwz {
  grid-column: 8 / 9;
  grid-row: 6;
  align-self: start;
  justify-self: start;
  background: transparent;
} */

.top-bar {
  background-color: rgb(255, 255, 255, 0.2);
  padding-left:10px;
  align-items: center;
  display:flex;
  position:relative;
  z-index: 50;
}

/* RNG Page */

h1, h2 {
  font-family: 'agency-fb-extended', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

.container {
  color: rgba(65,64,66,1.0);
  margin:0 auto;
  background-color: #ffffff;
  width: 100%;
  /* height: 100%; */
  
}
.rng-header {
  position: relative;
  margin:0;
  padding: 0;
  height: 350px;
  width: 100%;
  background-color: black;
  background-image: url('images/rng/rng-logo-4x.png'),
                    url('images/rng/header-tech-lines-4x.png'), 
                    url('images/rng/header-bg-2x.png');
  background-repeat: no-repeat, 
                     no-repeat,
                     no-repeat;
  background-size: 50%, cover, cover;
  background-position: left bottom -4px, 100% 70%, 100% 70%;
  
}

.rng-header h1 {
  position: absolute;
  color: white;
  right:1rem;
  bottom:1rem;
  
}

.rng-intro {
  margin: 6em auto;
  max-width: 90vw;
}

.rng-intro h2 {
  text-transform: uppercase;
  margin-bottom: 20px;
}

.rng-intro p {
  font-family: 'Monteserrat-Medium', sans-serif;
  margin-bottom: 20px;
  font-size: 1.1em;
}

.rng-intro-head-blue {
  color: #00B6F1;
}

.rng-section-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height:950px; 
  background-color: #414042;
  color: #00B6F1;
}

.rng-section-1 h2 {
  font-family: 'Monteserrat-Medium', sans-serif;  
}

.rng-process-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center; 
  margin-top: 20px;
}

.rng-process-list li {
  flex: 0 1 100px;
  text-align: center;
}

.rng-process-list li p {
  font-family: 'Monteserrat-Medium', sans-serif;
  padding-top: 1rem;
  max-width: 15rem;
  text-align: center;
}

.rng-process-list img {
  max-height: 60px;
}

.chevron {
  padding-top:20px; /*new*/
  transform: rotate(90deg); /*new*/
  /* align-self: center; */
}
.chevron img{
  max-width: 20px; /*30px*/
  margin-top: 20px; /*new*/

}

.rng-section-2 {
  margin:0;
  padding: 0;
  height: 450px;
  width: 100vw;
  background-color: black;
  background-image: url('images/rng/trees-bg-2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.rng-section-2 h2 {
  color:white;
  text-transform: uppercase;
  font-weight: 550;
  padding-top:5rem;
  text-align: center;
}

.rng-section-2 .sub-heading {
  color: #00B6F1;
  margin-top: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.1rem;

}

.rng-section-2 .data-block {
  font-family: 'Monteserrat-Medium', sans-serif;
  color: white;
  text-align: center;
  margin-top: 1.5rem;
  line-height: 1.6rem;
}

.percent-number {
  color: #D7DF23;
}
@media screen and (min-width: 900px) {
  .rng-header {
    height: 500px;
    background-image: url('images/rng/rng-logo-4x.png'),
                      url('images/rng/header-tech-lines-4x.png'), 
                      url('images/rng/header-bg-2x.png');
    background-repeat: no-repeat, 
                       no-repeat,
                       no-repeat;
    background-size: 15%, cover, cover;
    background-position: left bottom -4px, 100% 70%, 100% 70%;
    
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .rng-intro {
    display: flex;
    max-width: 70vw;
  }

  .rng-intro h1 {
    min-width: 50%;
    margin-right: 20px;
  }

  .rng-section-1 {
    padding-top: 2rem;
    padding-left: 10rem;
    justify-content: start;
    align-items: flex-start;
    height:550px; 
  }
  
  .rng-process-list {
    flex-direction: row;
    align-items: baseline;
    width: 80vw;
  }

  .rng-process-list li {
    flex: 0 1 250px;
  }
  .rng-process-list li p {
    padding-top: 3rem;
    max-width: 12rem;
    font-size: 1.1rem;
    text-align: left;
  }
  
  .rng-process-list img {
    max-height: 200px;
  }

  .chevron {
    padding-top:0;
    transform: initial;
    align-self: center;
  }
  .chevron img{
    max-width: 30px; /*30px*/
    margin-top: 0;
  
  }

  .rng-section-2 h2 {
    font-size: 2rem;
    text-align: left;
    padding-left: 25rem;
  }

  .rng-section-2 .sub-heading {
    text-align: left;
    padding-left: 25rem;
    font-size: 1.3rem;
  }
  .rng-section-2 .data-block {
    max-width: 60vw;
    text-align: right;
  }
}

@media screen and (min-width: 2000px) {
  .rng-header {
    background-image: url('images/rng/rng-logo-4x.png'),
                      url('images/rng/header-tech-lines-4x.png'), 
                      url('images/rng/header-bg-2x.png');
    background-repeat: no-repeat, 
                       no-repeat,
                       no-repeat;
    background-size: 12%, cover, cover;
    background-position: left bottom -4px, 100% 70%, 100% 70%;
    
  }

  .rng-intro {
    max-width: 50vw;
  }

  .rng-section-2 {
    height: 500px;
  }

  .rng-section-2 h2 {
    font-size: 2.5rem;
    text-align: left;
    padding-left: 35rem;
  }

  .rng-section-2 .sub-heading {
    text-align: left;
    padding-left: 35rem;
    font-size: 1.7rem;
  }
  .rng-section-2 .data-block {
    max-width: 60vw;
    text-align: right;
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}